html {
  font-family: sans-serif;
  background-color: #d5e9ce;
}

#title {
  text-align: center;
  margin-top: 5vh;
}

#title h1 {
  text-transform: uppercase;
}

aside {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5vh;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}

#listContainer {
  background-color: white;
  border: 3px solid #788b71;
  width: 50vw;
}

#listContainer h1 {
  font-family: cursive;
  padding-left: 1rem;
}

ul li {
  display: grid;
  grid-template-columns: 1rem auto 1rem;
  list-style: none;
  align-items: center;
}

ul li input {
  height: 1rem;
  width: 1rem;
}

ul li input:checked {
  appearance: none;
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  background: #788b71;
}

ul li p {
  padding-left: 1rem;
  font-weight: bold;
}
