html {
  font-family: sans-serif;
  background-color: #d5e9ce;
}

#title {
  text-align: center;
  margin-top: 5vh;
}

#title h1 {
  text-transform: uppercase;
}

aside {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5vh;
}

#inputField {
  width: 40vw;
  height: 2rem;
  margin-left: 1.7rem;
  border: none;
}

::placeholder {
  padding-left: 1rem;
}

#addButton {
  width: 1.5rem;
  border: none;
  background: none;
  font-size: 1.5rem;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}

#listContainer {
  background-color: white;
  border: 3px solid #788b71;
  width: 40vw;
}

#listContainer h1 {
  font-family: cursive;
  padding-left: 1rem;
}

ul {
  padding: 0;
  margin: 0 1rem;
}

ul li {
  display: grid;
  grid-template-columns: 1rem auto 1rem;
  list-style: none;
  align-items: center;
}

ul li input {
  margin: 0;
  height: 1rem;
  width: 1rem;
}

ul li input:checked {
  appearance: none;
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  background: #788b71;
}

ul li p {
  padding-left: 1rem;
  font-weight: bold;
}

ul li img {
  width: 1.5rem;
}
